{% extends "template.html" %}

{% block head %}
<title> Anon Feedback </title>
{% endblock %}

{% block content %}
<div id="form">
    <p>
    What feedback would you like to give about this course? Feel free to submit a comment below.
    <br></br>
    (a)  What do you like about the instructor teaching? 
    <br></br>
    (b)  What do you recommend the instructor to do to improve their teaching? 
    <br></br>
    (c)  What do you like about the labs? 
    <br></br>
    (d)  What do you recommend the lab instructors to do to improve their lab teaching? 
    </p>

    <h3>Instructors</h3>
    <select name="instructors" id="instructors">
      <option value="volvo">Bhavajan Amarasingham</option>
      <option value="saab">Peijia Guo</option>
      <option value="opel">Zhitao Xu</option>
    </select>
    <br><br>
    <textarea type="text" name="todo-input" placeholder="Enter your feedback here" id="form_text"></textarea>

    <br>
    <input type="submit" name="todo-submit" value="submit" id="form_button">
</div>
{% endblock %}

