{% extends "template.html" %}

{% block head %}
<title> Course Team </title>
{% endblock %}

{% block content %}
{% if not session.name %}
<p>Access Denied</p>
{% else %}
<div class="team">
    <div class="test">
        <p><img src="/static/sub/peijia.jpg"><br>Instructor: Peijia Guo</p>
        <p>peijia.guo@mail.utoronto.ca</p>
        <p><i>"My heart and my soul will be the best fuel when my limbs are too weary."</i></p><br>
    </div>
    <div class="test">
        <p><img src="/static/sub/tree.jpg"><br>TA: tree </p>
        <p>tree@mail.utoronto.ca</p>
        <p><i>"Grow like a tree!"</i></p><br>
    </div>
    <div class="test">
        <p><img src="/static/sub/coffee.jpg"><br>TA: coffee</p>
        <p>coffee@mail.utoronto.ca</p>
        <p><i>"But first, coffee!"</i></p><br>
    </div>
</div>

{% endif %}
{% endblock %}