{% extends "template.html" %}

{% block head %}
<title> Feedbacks </title>
{% endblock %}

{% block content %}

{% if not session.name %}
<p>Access Denied</p>
{% else %}

<!-- {% for Notes in query_notes_result %}
 <p> {{ Notes }} </p>
{% endfor %}  -->
<br>
<div class="feedbacks">
    <p>
        Students' Feedback for instructor
        {% if session.name %}
            {{ session.name }}:
        {% endif %}
    </p>

    <ul>
        {% for Feedbacks in feedback_for_instructor %}
        <li> {{ Feedbacks.feedbackText }} </li>
        {% endfor %}
    </ul>
</div>

{% endif %}
{% endblock %}