{% extends "template.html" %}

{% block head %}
<title> Home Page </title>
{% endblock %}
{% block content %}
{% if session.name %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class = "welcome">
          <div>Welcome back <strong>{{ session.name }}!</strong> you are {{ message }}</div>
        </div>
      {% endfor %}
    {% else %}
      <div class = "welcome">
        <h3>Welcome {{ session.name }} to B20 lecture notes!</h3>
        <h3>eee{{ session.type }}eee</h3>
      </div>
    {% endif %}

  {% endwith %}
<!-- normal stuff -->
<h1><strong>Home Page</strong></h1>
<h2>Course
    Information</h2>
<p><strong>Description</strong> A practical introduction to databases and Web app development. Databases:
    terminology and applications;
    creating, querying and updating databases; the entity-relationship model for database design. Web
    documents
    and
    applications: static and interactive documents; Web servers and dynamic server-generated content; Web
    application development and interface with databases.</p>

<p><strong>Prerequisite</strong> Some experience with programming in an imperative language such as Python,
    Java
    or C.
<p><strong>Exclusion</strong> This course may not be taken after - or concurrently with - any C- or D-level
    CSC
    course.

<p><strong>Syllabus</strong> <a href="/static/sub/dummy.pdf" target="_blank">PDF</a></p>


<h2>Instructor</h2>

<div class="borderless">
    <ul>
        <li>Peijia Guo</li>
        <li>Email:<a href="mailto:peijia.guo@mail.utoronto.ca">peijia.guo@mail.utoronto.ca</a></li>
        <li>Office: Great Hall of The People</li>
        <li>Phone: (416) 208-4745</li>
        <li>Lectures: Wednesdays 6:00-7:00 AM in Lecture Hall 201
            <br>&emsp;&emsp;&emsp;&emsp;&ensp;Fridays 6:00-7:00 AM in Canteen
        </li>
        <li>Office Hours: Tuesday 2:00-3:00 AM</li>

    </ul>
</div>

{% else %}
<!-- not logged in, let user login or register -->
{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class = "welcome">
            <h3>{{ category }} - {{ message }}</h3>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class = "welcome">
  <h1>This is UTSC CSCB20 Website</h1>
  <p>Welcome to CSCB20 Website, Please Login or Register</p> 
</div>
{% endif %}

{% endblock %}
