{% extends "template.html" %}

{% block head %}
<title> Lecture </title>
{% endblock %}

{% block content %}
{% if not session.name %}
<p>Access Denied</p>
{% else %}

<h1>
    Lecture Schedule
</h1>
<h2>
    Please print and bring these notes/worksheets to class.
</h2>
<div class="note">
    <ul>
        <li>Week 1 - <a href="/static/sub/dummy.pdf" target="_blank">Week 1 Note</a> - Introduction, Databases
            background</li>
        <li>Week 3 - <a href="/static/sub/dummy.pdf" target="_blank">Week 3 Note</a> - Schema Diagrams, Relational
            Algebra
        </li>
        <li>Week 4 - <a href="/static/sub/dummy.pdf" target="_blank">Week 4 Note</a>- SQL and MySQL</li>
        <li>Week 5 - <a href="/static/sub/dummy.pdf" target="_blank">Week 5 Note</a> - MySQL Queries, Creating and
            Editing
            Tables</li>
        <li>Week 6 - <a href="/static/sub/dummy.pdf" target="_blank">Week 6 Note</a> - MySQL Outer Joins, Views, NliL,
            string
            functions, HTML</li>
        <li>Week 7 - <a href="/static/sub/dummy.pdf" target="_blank">Week 7 Note</a> - HTML, CSS</li>
        <li>Week 8 - <a href="/static/sub/dummy.pdf" target="_blank">Week 8 Note</a> - PHP</li>
        <li>Week 9 - <a href="/static/sub/dummy.pdf" target="_blank">Week 9 Note</a> - PHP and SQL</li>
        <li>Week 10 - <a href="/static/sub/dummy.pdf" target="_blank">Week 10 Note</a> - JavaScript and jQuery</li>
        <li>Week 11 - <a href="/static/sub/dummy.pdf" target="_blank">Week 11 Note</a> - jQuery, AJAX, JSON</li>
        <li>Week 12 - <a href="/static/sub/dummy.pdf" target="_blank">Practice Final</a> - Last Year's final</li>
    </ul>
</div>
{% endif %}
{% endblock %}