{% extends "template.html" %}

{% block head %}
<title> Class Grades </title>
{% endblock %}

{% block content %}
{% if not session.name %}
<p>Access Denied</p>
{% else %}
    {% if session.type == 1 %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class = "welcome">
            <h3> {{ message }} </h3>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class = "grade">
        <ul>
            {% for Evaluations in query_all_student_mark %}
            <li class = "container_li">
                <div class ="li_flex">
                    <strong>Assignment Name: </strong>{{ Evaluations.typeName }},
                    &nbsp&nbsp<strong>Student Name: </strong>{{ Evaluations.stuName }}, 
                    &nbsp&nbsp<strong>Student Username: </strong>{{ Evaluations.student_username }} 
                    &nbsp&nbsp<strong>Student Mark: </strong>{{ Evaluations.stuMark }}, 
                    &nbsp&nbsp<strong>Total Mark: </strong>{{ Evaluations.total_mark }}, 
                    <br> 
                    <strong>Student's Remark Text: </strong>{{ Evaluations.remarkText }}
                </div>
            
            
                <form class = "teacher_grade_css"action="http://127.0.0.1:5000/teacherGrade" method = "post">
                    <input class = "grade_input" name="eid"  value = {{ Evaluations.eid }} readonly hidden></input>
                    <input class = "grade_input" name="stuMark" placeholder="Remark to:"></input>
                    <button type="Remark">Remark</button>
                </form>
            </li>
            {% endfor %}
        </ul>

    </div>
    {% else %}
    <p>Access Denied</p>
    {% endif %}
{% endif %}
{% endblock %}

