{% extends "template.html" %}

{% block head %}
<title> Remarks </title>
{% endblock %}

{% block content %}
{% if not session.name %}
<p>Access Denied</p>
{% else %}
{% if session.type == 1 %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="welcome">
  <h3> {{ message }} </h3>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="grade">
  <ul>
    {% for Evaluations in query_all_student_mark %}
    <li class="container_li">
      <div class="li_flex">
        <strong>Student Name: </strong>{{ Evaluations.stuName }},
        &nbsp&nbsp<strong>Student Username: </strong>{{ Evaluations.student_username }}
        <br>
        <strong>Assignment Name: </strong>{{ Evaluations.typeName }}
        <br>
        <strong>Student Mark: </strong>{{ Evaluations.stuMark }},
        &nbsp&nbsp<strong>Total Mark: </strong>{{ Evaluations.total_mark }}
        <br>
        {% if Evaluations.remark_signal == 0 %}
        <strong>Remark Status: </strong>Not Remark Yet
        {% else %}
        <strong>Remark Status: </strong>Already Remarked
        {% endif %}
        <br><strong>Remark Text: </strong>{{ Evaluations.remarkText }}

        <br></br>
      </div>


      <form class="teacher_grade_css" action="/teacherGrade" method="post">
        <input class="grade_input" name="eid" value={{ Evaluations.eid }} hidden></input>
        <input class="grade_input" name="total_mark" value={{ Evaluations.total_mark}} hidden></input>
        <input class="grade_input" name="stuMark" placeholder="Remark to:"></input>
        <button type="Remark">Remark</button>
      </form>
      <br></br>
    </li>
    {% endfor %}
  </ul>

</div>
{% else %}
<p>Access Denied</p>
{% endif %}
{% endif %}
{% endblock %}