{% extends "template.html" %}

{% block head %}
<title> Tut </title>
{% endblock %}

{% block content %}
{% if not session.name %}
<p>Access Denied</p>
{% else %}
<h2>Tutorial Sections</h2>
<p>Please go the tutorial section that you signed up for on ROSI. </p>
<h2>Tutorial Exercises</a></h2>
<p>
        This section contains the tutorial exercises.
</p>
<p>
        Tutorials are held every week. The first tutorial week is week 2.
        Please make use of this valuable resource!
</p>
<div class="note">
        <ul>
                <li>Week ------ Lab ------------- Solutions</li>
                <li>2 - <a href="/static/sub/dummy.pdf" target="_blank">Week 2 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 2 Lab Solution</a>
                </li>
                <li>3 - <a href="/static/sub/dummy.pdf" target="_blank">Week 3 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 3 Lab Solution</a>
                </li>
                <li>4 - <a href="/static/sub/dummy.pdf" target="_blank">Week 4 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 4 Lab Solution</a>
                </li>
                <li>5 - <a href="/static/sub/dummy.pdf" target="_blank">Week 5 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 5 Lab Solution</a>
                </li>
                <li>6 - <a href="/static/sub/dummy.pdf" target="_blank">Week 6 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 6 Lab Solution</a>
                </li>
                <li>7 - <a href="/static/sub/dummy.pdf" target="_blank">Week 7 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 7 Lab Solution</a>
                </li>
                <li>8 - <a href="/static/sub/dummy.pdf" target="_blank">Week 8 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 8 Lab Solution</a>
                </li>
                <li>9 - <a href="/static/sub/dummy.pdf" target="_blank">Week 9 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 9 Lab Solution</a>
                </li>
                <li>10 - <a href="/static/sub/dummy.pdf" target="_blank">Week 10 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 10 Lab
                                Solution</a>
                </li>
                <li>11 - <a href="/static/sub/dummy.pdf" target="_blank">Week 11 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 11 Lab
                                Solution</a>
                </li>
                <li>12 - <a href="/static/sub/dummy.pdf" target="_blank">Week 12 Lab Handout</a> - <a
                                href="/static/sub/dummy.pdf" target="_blank">Week 12 Lab
                                Solution</a>
                </li>
        </ul>
</div>
{% endif %}
{% endblock %}